.chatbotContainer {
    width: 370px;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  
  .messageList {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
  }
  
  .userMessage {
    text-align: right;
    padding: 10px;
    background-color: #3b3bb6;
    color: white;
    border-radius: 15px;
    margin: 5px;
    max-width: 60%;
    align-self: flex-end;
  }
  
  .botMessage {
    text-align: left;
    padding: 10px;
    background-color: #f1f1f1;
    color: black;
    border-radius: 15px;
    margin: 5px;
    max-width: 60%;
    align-self: flex-start;
  }
  
  .inputContainer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ccc;
  }
  
  .botTyping {
    padding: 10px;
    text-align: left;
  }
  